@using System.Text.RegularExpressions;
@using MudBlazor;
@using HRMS.Components
@using HRMS.Model
@inherits BaseComponents;
<MudDialog>
	<DialogContent>

		<MudGrid Class="DialogHeader">
			<MudItem lg="10" md="10" sm="10" xs="10">
				<MudText Typo="Typo.h4">Change Password</MudText>
			</MudItem>
			<MudItem lg="2" md="2" sm="2" xs="2" Class="d-flex justify-content-end align-content-end">
				<MudIconButton Icon="@Icons.Material.Filled.Close" Color="@MudBlazor.Color.Error" OnClick="Cancel"></MudIconButton>
			</MudItem>
		</MudGrid>
		<MudGrid>
			<MudItem lg="12" md="12" sm="12" xs="12">
				Enter Old Password<span class="star">*</span>
			</MudItem>
			<MudItem lg="12" md="12" sm="12" xs="12" Class="field">
				<MudTextField T=string @bind-Value="logins.Password" Margin="Margin.Dense" Placeholder="Old Password" Variant="Variant.Outlined" InputType="@PasswordInput" Required=true Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
				<MudText Style="color:red">@error</MudText>
			</MudItem>
			<MudItem lg="12" md="12" sm="12" xs="12">
				Enter New Password<span class="star">*</span>
			</MudItem>
			<MudItem lg="12" md="12" sm="12" xs="12" Class="field">
				<MudTextField T="string" @bind-Value="@pass" Margin="Margin.Dense" Placeholder="New Password" Variant="Variant.Outlined" InputType="@PasswordInput1" Required=true @ref="pwField1" Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength1))" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon1" OnAdornmentClick="ButtonTestclick1" AdornmentAriaLabel="Show Password" />
			</MudItem>
			<MudItem lg="12" md="12" sm="12" xs="12">
				Enter Confirm Password<span class="star">*</span>
			</MudItem>
			<MudItem lg="12" md="12" sm="12" xs="12" Class="field">
				<MudTextField T=string @bind-Value="@logins.NewPassword" Margin="Margin.Dense" Placeholder="Re-Enter Password" Variant="Variant.Outlined" InputType="@PasswordInput2" Required=true Validation="@(new Func<string, string>(PasswordMatch))" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon2" OnAdornmentClick="ButtonTestclick2" AdornmentAriaLabel="Show Password" />
			</MudItem>


			<MudItem lg="12" md="12" sm="12" xs="12" Class="d-flex justify-content-end align-content-end">
				<MudButton Variant="Variant.Filled" Color="@MudBlazor.Color.Primary" OnClick="LoginDetails">Confirm</MudButton>
			</MudItem>
		</MudGrid>
	</DialogContent>
</MudDialog>



<style>
	.star {
		color: red;
	}

	.DialogHeader {
		margin-bottom: 20px;
	}
</style>