@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@layout EmptyLayout
@using HRMS.Components
@inherits BaseComponents
@page "/forgetpass"

<MudContainer Style="display: flex; justify-content: center;" Class="ForgetPasswordContent" MaxWidth="MaxWidth.Small">
    <MudGrid hidden="@ShowEmail">
        <MudItem lg="12" md="12" sm="12" xs="12">
            <h2 class="ForgetHeading">Forget Password</h2>
            <MudDivider />

            <MudItem lg="12" md="12" sm="12" xs="12" Class="ContentHeading">
                <MudText>Email<span style="padding:5px;color:red;">*</span></MudText>
            </MudItem>
            <MudItem lg="12" md="12" sm="12" xs="12">
                <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" @bind-Value="PasswordEvent.Email" Class="searchoutline" Placeholder="eg.xyz@gmail.com" Variant="Variant.Outlined" Required="true" RequiredError="Fill the field" For="@(() => PasswordEvent.Email)" />
                    <MudText Style="color:red">@error</MudText>
                </MudForm>
            </MudItem>

            <MudItem lg="12" md="12" sm="12" xs="12" Class="mt-5">
                <MudButton FullWidth="true" Variant="Variant.Filled" Disabled="@(!success)" Class="OtpButton" OnClick="OtpBtn">Generate OTP</MudButton>
            </MudItem>
        </MudItem>
        <MudItem lg="12" md="12" sm="12" xs="12" Class="LoginLink">Go back to login? <MudLink Href="/"><small>Login</small></MudLink></MudItem>

    </MudGrid>
    <MudGrid hidden="@ShowOtp">
        <h2 class="ForgetHeading">Enter OTP</h2>
        <MudDivider />
        <MudItem lg="12" md="12" sm="12" xs="12" Class="ContentHeading">Enter OTP<span style="padding:5px;color:red;">*</span></MudItem>
        <MudItem lg="7" md="7" sm="12" xs="12"><MudTextField T="string" Class="searchoutline" @bind-Value="@Opt" Placeholder="OTP" Variant="Variant.Outlined" Required="true" RequiredError="Fill the field" /></MudItem>

        <MudItem lg="5" md="5" sm="12" xs="12"><MudButton OnClick="VerifyBtn" Class="Verify" Variant="Variant.Filled" FullWidth="true"><MudIcon Icon="@Icons.Material.Filled.DoneAll" />Verify</MudButton></MudItem>
    </MudGrid>
    <MudGrid hidden="@ShowPassword">
        <h2 class="ForgetHeading">Enter New Password</h2>
        <MudDivider />
        <MudItem lg="12" md="12" sm="12" xs="12" Class="ContentHeading">New Password<span style="padding:5px;color:red;">*</span></MudItem>
        <MudItem lg="12" md="12" sm="12" xs="12">
            <MudTextField @bind-Value="Password0" Class="searchoutline" Placeholder="Password" Variant="Variant.Outlined" InputType="@PasswordInput0" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon0" OnAdornmentClick="ButtonTestclick0" AdornmentAriaLabel="Show Password" @ref="pwField1" Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength1))" Required="true"
                          RequiredError="Password is required!" />
        </MudItem>
        <MudItem lg="12" md="12" sm="12" xs="12" Class="ContentHeading">Confirm Password<span style="padding:5px;color:red;">*</span></MudItem>
        <MudItem lg="12" md="12" sm="12" xs="12">
            <MudTextField @bind-Value="_login.NewPassword" Class="searchoutline" Placeholder="Confirm Password" Variant="Variant.Outlined" InputType="@PasswordInput1" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon1" OnAdornmentClick="ButtonTestclick1" AdornmentAriaLabel="Show Password"
                          Validation="@(new Func<string, string>(PasswordMatch))" />
        </MudItem>

        <MudItem lg="12" md="12" sm="12" xs="12">
            <MudButton Variant="Variant.Filled" FullWidth="true" Class="SaveButton" OnClick="Change">save</MudButton>
        </MudItem>

    </MudGrid>
</MudContainer>





@* FORGET PASSWORD *@
<style>
    .ForgetHeading {
        text-align: center;
    }

    .OtpButton {
        background-color: #9358ad;
        color: white;
        height: 45px;
    }

        .OtpButton:hover {
            background-color: #9358ad;
            color: white;
        }

    .Verify {
        background-color: #9358ad;
        color: white;
        height: 45px;
        margin-top: 10px;
    }

        .Verify:hover {
            background-color: #039e34;
            color: white;
        }

    .SaveButton {
        background-color: #9358ad;
        color: white;
        margin-top: -7px;
        float: right;
        height: 45px;
    }

        .SaveButton:hover {
            background-color: black;
            color: white;
        }

</style>